Assignment: Flowers Recognition <br>
Dataset Description:<br>

This dataset contains 4242 images of flowers.<br>
The data collection is based on the data flicr, google images, yandex images.<br>
You can use this datastet to recognize plants from the photo.<br>

Attribute Information:<br>
The pictures are divided into five classes: chamomile, tulip, rose, sunflower, dandelion.<br>
For each class there are about 800 photos. Photos are not high resolution, about 320x240 pixels. <br>
<b>Also explore how to resize images in tensorflow and then resize all the images to a same size. </b> <br>
This is a Multiclass Classification Problem.<br>

WORKFLOW : <br>
Load Data <br>
Split into 60 and 40 ratio.<br>
Encode labels.<br>
Create Model<br>
Compilation Step (Note : Its a Multiclass Classification problem , select loss , metrics according to it)<br>
Train the Model.<br>
If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .<br>
Prediction should be > 85%<br>
Evaluation Step<br>
Prediction<br>

Data : <br>
https://drive.google.com/file/d/1-OX6wn5gA-bJpjPNfSyaYQLz-A-AB_uj/view?usp=sharing

In [35]:
import pandas as pd
import numpy as np

import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

### IMAGE PREPROCESSING DONE AT LOCAL SYSTEM AND BROUGHT THE DATA IN SHAPE OF CSV TO COLAB - THE PREPROCESSING IS DONE USING FOLLOWING SCRIPT

#### IMAGE RESIZE AND GRESCALE SCRIPT

In [36]:
import os
# import numpy as np
from PIL import Image
from pathlib import Path

path = "images/"


# This will resise the Image to 50 x 50.
def image_resize(path,filename):
    load_img_rz = np.array(Image.open(os.path.join(path, filename)).resize((50, 50)))
    Image.fromarray(load_img_rz).save(os.path.join(path, filename))

# This will convert image into greyscale
# Warning This will replace the files
def save_as_greyscale(path,filename):
    im = np.array(Image.open(os.path.join(path, filename)).convert('L'))  # you can pass multiple arguments in single line
    gr_im = Image.fromarray(im).save(os.path.join(path,filename))



for dirpath, dirnames, filenames in os.walk(path):
    for filename in filenames:
        file_name_with_path = os.path.join(dirpath, filename)
        bn = os.path.basename(filename)
        save_as_greyscale(dirpath,filename)
        image_resize(dirpath,filename)
        print (file_name_with_path)

#### CONVERTED IMAGES INTO NUMPY ARRAY WITH LABELS FROM DIRECTORY NAME USING FOLLOIWNG SCRIPT

In [37]:
from numpy import asarray
from PIL import Image
#import pandas as pd
# import numpy as np
# import os

# Path of Images Directory
path = "images/flowers/"

# Creating a blank dataframe
df = pd.DataFrame()

# Creating a blank list
listt = []

# This function will convert image to numpy array and flatten the received array
# Function Arguments : file path and directory name as flower label
def image_to_numpy_flaten(path, fl_label):
    image = Image.open(path)
    numpydata = asarray(image)
    fdata = numpydata.flatten()
    fdata = np.append(fdata, fl_label)
    return fdata


# For loop with Os.walk
# Creating Label Name from directory name
# Calling Function image_to_numpy_flatten

for dirpath, dirnames, filenames in os.walk(path):
    for filename in filenames:
        label = dirpath.split("/")
        label = label[-1].split("\\")
        label = label[-1]
        result = image_to_numpy_flaten(os.path.join(dirpath,filename), label)
        listt.append(result)



newvar = pd.DataFrame(listt)
newvar.to_csv('flower_data.csv', mode='a', index=False, header=False)

#### LOADING CSV FILE

In [38]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [39]:
data = pd.read_csv('/content/gdrive/MyDrive/flower_data.csv', header=None, index_col=False)

In [40]:
data.head()

   0     1     2     3     4     5     ...  2495  2496  2497  2498  2499   2500
0   138   154   167   168   162   156  ...   133   135   133   128   128  daisy
1   225   217   221   227   219   132  ...   145   173   142   137   164  daisy
2   102    87    89    76    93   126  ...    20    20    26    35    35  daisy
3    33    26    28    33    33    36  ...    22    20    18    22    22  daisy
4    17    29    42    42    47    45  ...    26    29    33    31    32  daisy

[5 rows x 2501 columns]

### Checking Null Values

In [41]:
data.isnull().sum()

0       0
1       0
2       0
3       0
4       0
       ..
2496    0
2497    0
2498    0
2499    0
2500    0
Length: 2501, dtype: int64

In [42]:
data.info

<bound method DataFrame.info of       0     1     2     3     4     5     ...  2495  2496  2497  2498  2499   2500
0      138   154   167   168   162   156  ...   133   135   133   128   128  daisy
1      225   217   221   227   219   132  ...   145   173   142   137   164  daisy
2      102    87    89    76    93   126  ...    20    20    26    35    35  daisy
3       33    26    28    33    33    36  ...    22    20    18    22    22  daisy
4       17    29    42    42    47    45  ...    26    29    33    31    32  daisy
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...    ...
4318   203   217   201   197    56    96  ...    23    46   107   133   167  tulip
4319   135   132   124   123   135   147  ...    51    62    79    99   114  tulip
4320    80    79    82    89    90    86  ...    84    83    85    79    79  tulip
4321   181   201   166   153   130   183  ...    33    20    26    21    34  tulip
4322    46    93   101   123   106   140  ...    75    78    52    50    52  tulip

[4323 rows x 2501 columns]>

In [43]:
data[0].shape # Already Flatten

(4323,)

### Data Shuffling

In [44]:
data = data.sample(frac=1).reset_index(drop=True)

In [45]:
data.head()

   0     1     2     3     4     5     ...  2495  2496  2497  2498  2499   2500
0   172   164   157   161   167   160  ...    57    56    64    55    53   rose
1    15    10     6     1    16    23  ...     2     1     0     0     0   rose
2   232   231   230   229   226   223  ...   155   122    91   112   142  tulip
3    94    93    92    91    90    90  ...    47    48    48    51    51  daisy
4    96    96    75    37    11     8  ...    46    44    40    35    36   rose

[5 rows x 2501 columns]

In [46]:
# Separating Input and Output Colmumns 
X = data.iloc[:, :-1].values  # Input Columns
Y = data.iloc[:, -1:].values # Output Columns

In [47]:
X.shape

(4323, 2500)

In [48]:
Y.shape

(4323, 1)

### Splitting Data into Train, Text and Validation

In [49]:
# Total Images 4323 - Data Split

def split_train_val_test(x, y, train, val, test):
    x_rows, x_col = x.shape
    y_rows, y_col = y.shape 
    
    train_start = 0
    train_stop = int(x_rows*train)
    
    val_start = train_stop
    val_stop = int(x_rows*train)+int(x_rows*val)
    
    test_start = val_stop
    test_stop = None

    x_train = x[train_start:train_stop,] # Extracting X_Training Data 
    x_val = x[val_start:val_stop,]
    x_test = x[test_start:test_stop]
    
    y_train = y[train_start:train_stop,] # Extracting y_Training Data 
    y_val = y[val_start:val_stop,]
    y_test = y[test_start:test_stop]
    
    #Splitting Desicription 
    desc = f'''Splitting Discription:
    Training Data {int(train*100)}%
    Validation Data {int(val*100)}%
    Testing Data {int(val*100)}%
    
    Shape of Training Data {x.shape}
    Shape of Target Data {y.shape}
    
    Shape of x_train {x_train.shape}
    Shape of x_val {x_val.shape}
    Shape of x_test {x_test.shape}
     
    Shape of y_train {y_train.shape}
    Shape of y_val {y_val.shape}
    Shape of y_test {y_test.shape}
    
    '''
    
    return x_train, x_val, x_test, y_train, y_val, y_test, desc



x_train, x_val, x_test, y_train, y_val, y_test, desc = split_train_val_test(X,Y,.6,.2,.2)

print (desc)

Splitting Discription:
    Training Data 60%
    Validation Data 20%
    Testing Data 20%

    Shape of Training Data (4323, 2500)
    Shape of Target Data (4323, 1)

    Shape of x_train (2593, 2500)
    Shape of x_val (864, 2500)
    Shape of x_test (866, 2500)

    Shape of y_train (2593, 1)
    Shape of y_val (864, 1)
    Shape of y_test (866, 1)

In [50]:
print (x_train.shape, x_test.shape, x_val.shape)
print (y_train.shape, y_test.shape, y_val.shape)

(2593, 2500) (866, 2500) (864, 2500)
(2593, 1) (866, 1) (864, 1)

# Normalization

In [51]:
x_train = x_train.astype('float32') / 255
x_test = x_test.astype('float32') / 255
x_val = x_val.astype('float32') / 255

In [52]:
x_train # After Normalization

array([[0.6745098 , 0.6431373 , 0.6156863 , ..., 0.2509804 , 0.21568628,
        0.20784314],
       [0.05882353, 0.03921569, 0.02352941, ..., 0.        , 0.        ,
        0.        ],
       [0.9098039 , 0.90588236, 0.9019608 , ..., 0.35686275, 0.4392157 ,
        0.5568628 ],
       ...,
       [0.14901961, 0.15686275, 0.16078432, ..., 0.11764706, 0.12941177,
        0.12156863],
       [0.18039216, 0.19607843, 0.21960784, ..., 0.5176471 , 0.5019608 ,
        0.5019608 ],
       [0.4       , 0.4       , 0.28235295, ..., 0.20392157, 0.18039216,
        0.1882353 ]], dtype=float32)

#### Label Encoding

In [53]:
from sklearn.preprocessing import LabelEncoder

y_train = np.array(y_train)
y_test = np.array(y_test)
y_val = np.array(y_val)

label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.fit_transform(y_test)
y_val = label_encoder.fit_transform(y_val)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [54]:
from keras.utils import to_categorical
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)
y_val = to_categorical(y_val)

#### CREATING ARCHITECTURE

In [55]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import regularizers
model = models.Sequential()
model.add(layers.Dense(512, activation='relu', kernel_regularizer=regularizers.l2(0.001), input_shape=(50 * 50,)))
model.add(layers.Dense(5, activation='softmax'))

In [56]:
model.compile(optimizer='rmsprop', 
                loss='categorical_crossentropy',
                metrics=['accuracy'])

### Training

In [57]:
history = model.fit(x_train, y_train,epochs=75, validation_data =(x_val, y_val))

Epoch 1/75
82/82 [==============================] - 2s 21ms/step - loss: 5.3674 - accuracy: 0.2264 - val_loss: 9.1248 - val_accuracy: 0.1516
Epoch 2/75
82/82 [==============================] - 2s 20ms/step - loss: 3.0430 - accuracy: 0.2444 - val_loss: 4.9653 - val_accuracy: 0.1690
Epoch 3/75
82/82 [==============================] - 2s 19ms/step - loss: 2.6966 - accuracy: 0.2504 - val_loss: 4.6432 - val_accuracy: 0.2431
Epoch 4/75
82/82 [==============================] - 2s 19ms/step - loss: 2.7334 - accuracy: 0.2366 - val_loss: 2.6426 - val_accuracy: 0.2106
Epoch 5/75
82/82 [==============================] - 2s 19ms/step - loss: 2.4611 - accuracy: 0.2430 - val_loss: 3.9748 - val_accuracy: 0.2431
Epoch 6/75
82/82 [==============================] - 2s 19ms/step - loss: 2.4896 - accuracy: 0.2418 - val_loss: 4.9807 - val_accuracy: 0.1667
Epoch 7/75
82/82 [==============================] - 2s 19ms/step - loss: 2.5341 - accuracy: 0.2408 - val_loss: 6.2823 - val_accuracy: 0.1667
Epoch 8/75
82/82 [==============================] - 2s 20ms/step - loss: 2.4580 - accuracy: 0.2535 - val_loss: 5.8623 - val_accuracy: 0.2431
Epoch 9/75
82/82 [==============================] - 2s 19ms/step - loss: 2.1952 - accuracy: 0.2755 - val_loss: 4.0049 - val_accuracy: 0.2431
Epoch 10/75
82/82 [==============================] - 2s 19ms/step - loss: 2.2144 - accuracy: 0.2700 - val_loss: 6.9828 - val_accuracy: 0.1667
Epoch 11/75
82/82 [==============================] - 2s 19ms/step - loss: 2.4165 - accuracy: 0.2637 - val_loss: 4.4327 - val_accuracy: 0.2431
Epoch 12/75
82/82 [==============================] - 2s 19ms/step - loss: 2.1189 - accuracy: 0.2596 - val_loss: 3.2971 - val_accuracy: 0.1736
Epoch 13/75
82/82 [==============================] - 2s 19ms/step - loss: 1.8883 - accuracy: 0.3163 - val_loss: 5.0278 - val_accuracy: 0.2431
Epoch 14/75
82/82 [==============================] - 2s 19ms/step - loss: 1.9741 - accuracy: 0.2899 - val_loss: 5.5425 - val_accuracy: 0.1979
Epoch 15/75
82/82 [==============================] - 2s 19ms/step - loss: 2.0806 - accuracy: 0.2574 - val_loss: 4.3380 - val_accuracy: 0.1725
Epoch 16/75
82/82 [==============================] - 2s 19ms/step - loss: 1.9317 - accuracy: 0.2767 - val_loss: 4.4704 - val_accuracy: 0.1667
Epoch 17/75
82/82 [==============================] - 2s 19ms/step - loss: 2.0323 - accuracy: 0.2518 - val_loss: 3.0233 - val_accuracy: 0.1887
Epoch 18/75
82/82 [==============================] - 2s 19ms/step - loss: 1.7276 - accuracy: 0.3088 - val_loss: 1.7350 - val_accuracy: 0.2292
Epoch 19/75
82/82 [==============================] - 2s 19ms/step - loss: 1.7418 - accuracy: 0.2621 - val_loss: 4.0767 - val_accuracy: 0.1667
Epoch 20/75
82/82 [==============================] - 2s 19ms/step - loss: 1.8728 - accuracy: 0.2900 - val_loss: 3.1703 - val_accuracy: 0.2407
Epoch 21/75
82/82 [==============================] - 2s 19ms/step - loss: 1.7698 - accuracy: 0.2964 - val_loss: 2.1231 - val_accuracy: 0.2523
Epoch 22/75
82/82 [==============================] - 2s 20ms/step - loss: 1.6855 - accuracy: 0.2944 - val_loss: 2.9769 - val_accuracy: 0.1933
Epoch 23/75
82/82 [==============================] - 2s 19ms/step - loss: 1.7263 - accuracy: 0.3136 - val_loss: 3.5445 - val_accuracy: 0.1690
Epoch 24/75
82/82 [==============================] - 2s 19ms/step - loss: 1.6923 - accuracy: 0.3109 - val_loss: 3.4743 - val_accuracy: 0.2407
Epoch 25/75
82/82 [==============================] - 2s 19ms/step - loss: 1.6817 - accuracy: 0.3264 - val_loss: 3.3630 - val_accuracy: 0.1968
Epoch 26/75
82/82 [==============================] - 2s 19ms/step - loss: 1.7512 - accuracy: 0.3143 - val_loss: 2.7980 - val_accuracy: 0.1933
Epoch 27/75
82/82 [==============================] - 2s 19ms/step - loss: 1.7038 - accuracy: 0.3363 - val_loss: 3.1982 - val_accuracy: 0.2454
Epoch 28/75
82/82 [==============================] - 2s 19ms/step - loss: 1.6891 - accuracy: 0.3310 - val_loss: 2.9329 - val_accuracy: 0.2419
Epoch 29/75
82/82 [==============================] - 2s 19ms/step - loss: 1.5980 - accuracy: 0.3566 - val_loss: 2.2637 - val_accuracy: 0.2141
Epoch 30/75
82/82 [==============================] - 2s 19ms/step - loss: 1.5755 - accuracy: 0.3354 - val_loss: 2.5784 - val_accuracy: 0.1991
Epoch 31/75
82/82 [==============================] - 2s 19ms/step - loss: 1.6010 - accuracy: 0.3326 - val_loss: 1.8217 - val_accuracy: 0.2847
Epoch 32/75
82/82 [==============================] - 2s 19ms/step - loss: 1.5298 - accuracy: 0.3530 - val_loss: 2.4774 - val_accuracy: 0.2130
Epoch 33/75
82/82 [==============================] - 2s 19ms/step - loss: 1.5293 - accuracy: 0.3711 - val_loss: 1.9702 - val_accuracy: 0.2697
Epoch 34/75
82/82 [==============================] - 2s 19ms/step - loss: 1.5107 - accuracy: 0.3694 - val_loss: 2.7066 - val_accuracy: 0.2118
Epoch 35/75
82/82 [==============================] - 2s 20ms/step - loss: 1.4923 - accuracy: 0.3830 - val_loss: 2.2531 - val_accuracy: 0.2350
Epoch 36/75
82/82 [==============================] - 2s 20ms/step - loss: 1.4796 - accuracy: 0.4070 - val_loss: 2.1757 - val_accuracy: 0.1968
Epoch 37/75
82/82 [==============================] - 2s 19ms/step - loss: 1.5127 - accuracy: 0.3588 - val_loss: 2.4037 - val_accuracy: 0.2512
Epoch 38/75
82/82 [==============================] - 2s 19ms/step - loss: 1.4749 - accuracy: 0.4088 - val_loss: 2.1336 - val_accuracy: 0.2697
Epoch 39/75
82/82 [==============================] - 2s 20ms/step - loss: 1.4389 - accuracy: 0.4109 - val_loss: 2.6012 - val_accuracy: 0.2604
Epoch 40/75
82/82 [==============================] - 2s 20ms/step - loss: 1.4900 - accuracy: 0.4020 - val_loss: 2.5720 - val_accuracy: 0.2627
Epoch 41/75
82/82 [==============================] - 2s 19ms/step - loss: 1.4540 - accuracy: 0.4246 - val_loss: 1.8944 - val_accuracy: 0.3021
Epoch 42/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3919 - accuracy: 0.4328 - val_loss: 1.9379 - val_accuracy: 0.2338
Epoch 43/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3742 - accuracy: 0.4548 - val_loss: 2.2820 - val_accuracy: 0.2002
Epoch 44/75
82/82 [==============================] - 2s 20ms/step - loss: 1.4225 - accuracy: 0.4353 - val_loss: 2.0241 - val_accuracy: 0.2859
Epoch 45/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3973 - accuracy: 0.4371 - val_loss: 1.8470 - val_accuracy: 0.2917
Epoch 46/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3602 - accuracy: 0.4554 - val_loss: 2.0685 - val_accuracy: 0.2477
Epoch 47/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3478 - accuracy: 0.4620 - val_loss: 1.8288 - val_accuracy: 0.2998
Epoch 48/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3072 - accuracy: 0.4642 - val_loss: 1.9851 - val_accuracy: 0.2766
Epoch 49/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3486 - accuracy: 0.4846 - val_loss: 1.9971 - val_accuracy: 0.2743
Epoch 50/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3720 - accuracy: 0.4758 - val_loss: 1.9827 - val_accuracy: 0.3009
Epoch 51/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3331 - accuracy: 0.4706 - val_loss: 2.3399 - val_accuracy: 0.2292
Epoch 52/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3136 - accuracy: 0.4918 - val_loss: 2.6562 - val_accuracy: 0.2569
Epoch 53/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3407 - accuracy: 0.4781 - val_loss: 2.2073 - val_accuracy: 0.2894
Epoch 54/75
82/82 [==============================] - 2s 19ms/step - loss: 1.3041 - accuracy: 0.4992 - val_loss: 2.4079 - val_accuracy: 0.2153
Epoch 55/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3111 - accuracy: 0.5102 - val_loss: 2.5466 - val_accuracy: 0.2674
Epoch 56/75
82/82 [==============================] - 2s 20ms/step - loss: 1.3470 - accuracy: 0.4892 - val_loss: 2.2059 - val_accuracy: 0.2523
Epoch 57/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2515 - accuracy: 0.5229 - val_loss: 1.8381 - val_accuracy: 0.2731
Epoch 58/75
82/82 [==============================] - 2s 19ms/step - loss: 1.2566 - accuracy: 0.5182 - val_loss: 1.8442 - val_accuracy: 0.3275
Epoch 59/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2446 - accuracy: 0.5262 - val_loss: 2.0018 - val_accuracy: 0.2743
Epoch 60/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2734 - accuracy: 0.5203 - val_loss: 2.3791 - val_accuracy: 0.2801
Epoch 61/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2517 - accuracy: 0.5383 - val_loss: 1.9574 - val_accuracy: 0.2882
Epoch 62/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2112 - accuracy: 0.5505 - val_loss: 2.1181 - val_accuracy: 0.2674
Epoch 63/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2874 - accuracy: 0.5251 - val_loss: 2.8316 - val_accuracy: 0.2523
Epoch 64/75
82/82 [==============================] - 2s 19ms/step - loss: 1.2252 - accuracy: 0.5605 - val_loss: 2.2898 - val_accuracy: 0.2569
Epoch 65/75
82/82 [==============================] - 2s 19ms/step - loss: 1.2061 - accuracy: 0.5632 - val_loss: 2.3765 - val_accuracy: 0.2951
Epoch 66/75
82/82 [==============================] - 2s 19ms/step - loss: 1.2810 - accuracy: 0.5603 - val_loss: 2.1786 - val_accuracy: 0.3102
Epoch 67/75
82/82 [==============================] - 2s 19ms/step - loss: 1.1926 - accuracy: 0.5803 - val_loss: 2.1466 - val_accuracy: 0.2940
Epoch 68/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2079 - accuracy: 0.5559 - val_loss: 2.1366 - val_accuracy: 0.3079
Epoch 69/75
82/82 [==============================] - 2s 19ms/step - loss: 1.1827 - accuracy: 0.5699 - val_loss: 2.0868 - val_accuracy: 0.2870
Epoch 70/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2044 - accuracy: 0.5770 - val_loss: 2.4123 - val_accuracy: 0.2361
Epoch 71/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2160 - accuracy: 0.5538 - val_loss: 2.1632 - val_accuracy: 0.2778
Epoch 72/75
82/82 [==============================] - 2s 19ms/step - loss: 1.1690 - accuracy: 0.5707 - val_loss: 2.6430 - val_accuracy: 0.2766
Epoch 73/75
82/82 [==============================] - 2s 20ms/step - loss: 1.2347 - accuracy: 0.5724 - val_loss: 2.5350 - val_accuracy: 0.2500
Epoch 74/75
82/82 [==============================] - 2s 20ms/step - loss: 1.1910 - accuracy: 0.5803 - val_loss: 1.9772 - val_accuracy: 0.2940
Epoch 75/75
82/82 [==============================] - 2s 19ms/step - loss: 1.1393 - accuracy: 0.5871 - val_loss: 2.3813 - val_accuracy: 0.2720

### Evaluation on Test Data

In [58]:
test_loss, test_acc = model.evaluate(x_test, y_test)
print('test_acc:', test_acc)

28/28 [==============================] - 0s 6ms/step - loss: 2.2991 - accuracy: 0.2679
test_acc: 0.2678983807563782

### Prdiction

In [59]:
pred = model.predict(x_test[0:1])
pred

array([[0.08465333, 0.78229356, 0.09792668, 0.0034993 , 0.03162714]],
      dtype=float32)

###Note: 
##### Applied Drop Out and Regularization one-by-one, but validation accuracy did not improve.