Assignment: Flowers Recognition <br>
Dataset Description:<br>

This dataset contains 4242 images of flowers.<br>
The data collection is based on the data flicr, google images, yandex images.<br>
You can use this datastet to recognize plants from the photo.<br>

Attribute Information:<br>
The pictures are divided into five classes: chamomile, tulip, rose, sunflower, dandelion.<br>
For each class there are about 800 photos. Photos are not high resolution, about 320x240 pixels. <br>
<b>Also explore how to resize images in tensorflow and then resize all the images to a same size. </b> <br>
This is a Multiclass Classification Problem.<br>

WORKFLOW : <br>
Load Data <br>
Split into 60 and 40 ratio.<br>
Encode labels.<br>
Create Model<br>
Compilation Step (Note : Its a Multiclass Classification problem , select loss , metrics according to it)<br>
Train the Model.<br>
If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .<br>
Prediction should be > 85%<br>
Evaluation Step<br>
Prediction<br>

Data : <br>
https://drive.google.com/file/d/1-OX6wn5gA-bJpjPNfSyaYQLz-A-AB_uj/view?usp=sharing

In [ ]:
import pandas as pd
import numpy as np

import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

### IMAGE PREPROCESSING DONE AT LOCAL SYSTEM AND BROUGHT THE DATA IN SHAPE OF CSV TO COLAB - THE PREPROCESSING IS DONE USING FOLLOWING SCRIPT

#### IMAGE RESIZE AND GRESCALE SCRIPT

In [ ]:
import os
# import numpy as np
from PIL import Image
from pathlib import Path

path = "images/"


# This will resise the Image to 50 x 50.
def image_resize(path,filename):
    load_img_rz = np.array(Image.open(os.path.join(path, filename)).resize((50, 50)))
    Image.fromarray(load_img_rz).save(os.path.join(path, filename))

# This will convert image into greyscale
# Warning This will replace the files
def save_as_greyscale(path,filename):
    im = np.array(Image.open(os.path.join(path, filename)).convert('L'))  # you can pass multiple arguments in single line
    gr_im = Image.fromarray(im).save(os.path.join(path,filename))



for dirpath, dirnames, filenames in os.walk(path):
    for filename in filenames:
        file_name_with_path = os.path.join(dirpath, filename)
        bn = os.path.basename(filename)
        save_as_greyscale(dirpath,filename)
        image_resize(dirpath,filename)
        print (file_name_with_path)

#### CONVERTED IMAGES INTO NUMPY ARRAY WITH LABELS FROM DIRECTORY NAME USING FOLLOIWNG SCRIPT

In [ ]:
from numpy import asarray
from PIL import Image
#import pandas as pd
# import numpy as np
# import os

# Path of Images Directory
path = "images/flowers/"

# Creating a blank dataframe
df = pd.DataFrame()

# Creating a blank list
listt = []

# This function will convert image to numpy array and flatten the received array
# Function Arguments : file path and directory name as flower label
def image_to_numpy_flaten(path, fl_label):
    image = Image.open(path)
    numpydata = asarray(image)
    fdata = numpydata.flatten()
    fdata = np.append(fdata, fl_label)
    return fdata


# For loop with Os.walk
# Creating Label Name from directory name
# Calling Function image_to_numpy_flatten

for dirpath, dirnames, filenames in os.walk(path):
    for filename in filenames:
        label = dirpath.split("/")
        label = label[-1].split("\\")
        label = label[-1]
        result = image_to_numpy_flaten(os.path.join(dirpath,filename), label)
        listt.append(result)



newvar = pd.DataFrame(listt)
newvar.to_csv('flower_data.csv', mode='a', index=False, header=False)

#### LOADING CSV FILE

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/flower_data.csv', header=None, index_col=False)

In [ ]:
data.head()

   0     1     2     3     4     5     ...  2495  2496  2497  2498  2499   2500
0   138   154   167   168   162   156  ...   133   135   133   128   128  daisy
1   225   217   221   227   219   132  ...   145   173   142   137   164  daisy
2   102    87    89    76    93   126  ...    20    20    26    35    35  daisy
3    33    26    28    33    33    36  ...    22    20    18    22    22  daisy
4    17    29    42    42    47    45  ...    26    29    33    31    32  daisy

[5 rows x 2501 columns]

In [ ]:
data.isnull().sum()

0       0
1       0
2       0
3       0
4       0
       ..
2496    0
2497    0
2498    0
2499    0
2500    0
Length: 2501, dtype: int64

In [ ]:
data.info

<bound method DataFrame.info of       0     1     2     3     4     5     ...  2495  2496  2497  2498  2499   2500
0      138   154   167   168   162   156  ...   133   135   133   128   128  daisy
1      225   217   221   227   219   132  ...   145   173   142   137   164  daisy
2      102    87    89    76    93   126  ...    20    20    26    35    35  daisy
3       33    26    28    33    33    36  ...    22    20    18    22    22  daisy
4       17    29    42    42    47    45  ...    26    29    33    31    32  daisy
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...    ...
4318   203   217   201   197    56    96  ...    23    46   107   133   167  tulip
4319   135   132   124   123   135   147  ...    51    62    79    99   114  tulip
4320    80    79    82    89    90    86  ...    84    83    85    79    79  tulip
4321   181   201   166   153   130   183  ...    33    20    26    21    34  tulip
4322    46    93   101   123   106   140  ...    75    78    52    50    52  tulip

[4323 rows x 2501 columns]>

In [ ]:
data[0].shape # Already Flatten

(4323,)

DATA Shuffling

In [ ]:
data = data.sample(frac=1).reset_index(drop=True)

In [ ]:
data.head()

   0     1     2     3     4     5     ...  2495  2496  2497  2498  2499       2500
0   246   231   233   239   248   231  ...   246   246   246   222   255  dandelion
1    93    87    81    55    50    81  ...    72    66    73    75    93  sunflower
2   134   136   138   147   154   153  ...    22    22    23    21    20  sunflower
3   150   152   165   157   176   167  ...    79    46    33    47    48  sunflower
4    40    37    18     4     6     6  ...    78    79    89    90    90      tulip

[5 rows x 2501 columns]

In [ ]:
# Separating Input and Output Colmumns 
X = data.iloc[:, :-1].values  # Input Columns
Y = data.iloc[:, -1:].values # Output Columns

In [ ]:
X.shape

(4323, 2500)

In [ ]:
Y.shape

(4323, 1)

In [ ]:
# Total Imagves 4323 - Data Split
# 4323	60%	2594 Training
# 4323	20%	864 Validataion
# 4323	20%	865 Test

X.shape
x_train = X[:2594,] # 60% Training 
x_test = X[2594:3458,] # 20% Test 
x_val = X[3458:,] # 20% Validatation

y_train = Y[:2594,] # 50% Training
y_test = Y[2594:3458,] # 30% Test
y_val = Y[3458:,] # 20% Validataion

In [ ]:
print (x_train.shape, x_test.shape, x_val.shape)
print (y_train.shape, y_test.shape, y_val.shape)

(2594, 2500) (864, 2500) (865, 2500)
(2594, 1) (864, 1) (865, 1)

# Normalization

In [ ]:
x_train = x_train.astype('float32') / 255
x_test = x_test.astype('float32') / 255
x_val = x_val.astype('float32') / 255

In [ ]:
x_train # After Normalization

array([[0.9647059 , 0.90588236, 0.9137255 , ..., 0.9647059 , 0.87058824,
        1.        ],
       [0.3647059 , 0.34117648, 0.31764707, ..., 0.28627452, 0.29411766,
        0.3647059 ],
       [0.5254902 , 0.53333336, 0.5411765 , ..., 0.09019608, 0.08235294,
        0.07843138],
       ...,
       [0.20784314, 0.36078432, 0.47843137, ..., 0.16862746, 0.11372549,
        0.11372549],
       [0.5176471 , 0.4509804 , 0.38431373, ..., 0.4392157 , 0.41568628,
        0.40784314],
       [0.3764706 , 0.4       , 0.41568628, ..., 0.28235295, 0.24705882,
        0.24705882]], dtype=float32)

#### Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

y_train = np.array(y_train)
y_test = np.array(y_test)
y_val = np.array(y_val)

label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.fit_transform(y_test)
y_val = label_encoder.fit_transform(y_val)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from keras.utils import to_categorical
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)
y_val = to_categorical(y_val)

#### CREATING ARCHITECTURE

In [ ]:
from tensorflow.keras import models
from tensorflow.keras import layers
model = models.Sequential()
model.add(layers.Dense(512, activation='relu', input_shape=(50 * 50,)))
model.add(layers.Dense(5, activation='softmax'))

In [ ]:
model.compile(optimizer='rmsprop', 
                loss='categorical_crossentropy',
                metrics=['accuracy'])

#### Training

In [ ]:
history = model.fit(x_train, y_train,epochs=75, validation_data =(x_val, y_val))

Epoch 1/75
82/82 [==============================] - 2s 19ms/step - loss: 4.4283 - accuracy: 0.2067 - val_loss: 2.1853 - val_accuracy: 0.2000
Epoch 2/75
82/82 [==============================] - 1s 17ms/step - loss: 1.8569 - accuracy: 0.2644 - val_loss: 4.6058 - val_accuracy: 0.2405
Epoch 3/75
82/82 [==============================] - 1s 17ms/step - loss: 1.8702 - accuracy: 0.2889 - val_loss: 2.6947 - val_accuracy: 0.1908
Epoch 4/75
82/82 [==============================] - 1s 17ms/step - loss: 1.7069 - accuracy: 0.2745 - val_loss: 2.5705 - val_accuracy: 0.2428
Epoch 5/75
82/82 [==============================] - 1s 18ms/step - loss: 1.6127 - accuracy: 0.3171 - val_loss: 2.3285 - val_accuracy: 0.2486
Epoch 6/75
82/82 [==============================] - 1s 17ms/step - loss: 1.5818 - accuracy: 0.3060 - val_loss: 1.8471 - val_accuracy: 0.2705
Epoch 7/75
82/82 [==============================] - 1s 17ms/step - loss: 1.5538 - accuracy: 0.3258 - val_loss: 2.0808 - val_accuracy: 0.1884
Epoch 8/75
82/82 [==============================] - 1s 17ms/step - loss: 1.5166 - accuracy: 0.3362 - val_loss: 1.6685 - val_accuracy: 0.2624
Epoch 9/75
82/82 [==============================] - 1s 17ms/step - loss: 1.5021 - accuracy: 0.3373 - val_loss: 2.3107 - val_accuracy: 0.1908
Epoch 10/75
82/82 [==============================] - 1s 17ms/step - loss: 1.5107 - accuracy: 0.3532 - val_loss: 1.8225 - val_accuracy: 0.2728
Epoch 11/75
82/82 [==============================] - 1s 17ms/step - loss: 1.4742 - accuracy: 0.3695 - val_loss: 1.8317 - val_accuracy: 0.2763
Epoch 12/75
82/82 [==============================] - 1s 17ms/step - loss: 1.4158 - accuracy: 0.3975 - val_loss: 1.8501 - val_accuracy: 0.2173
Epoch 13/75
82/82 [==============================] - 1s 17ms/step - loss: 1.4299 - accuracy: 0.3798 - val_loss: 1.6956 - val_accuracy: 0.2751
Epoch 14/75
82/82 [==============================] - 1s 17ms/step - loss: 1.3958 - accuracy: 0.4021 - val_loss: 1.9839 - val_accuracy: 0.2254
Epoch 15/75
82/82 [==============================] - 1s 17ms/step - loss: 1.4176 - accuracy: 0.4004 - val_loss: 2.4141 - val_accuracy: 0.2647
Epoch 16/75
82/82 [==============================] - 1s 17ms/step - loss: 1.4412 - accuracy: 0.4083 - val_loss: 1.7834 - val_accuracy: 0.2578
Epoch 17/75
82/82 [==============================] - 1s 18ms/step - loss: 1.3328 - accuracy: 0.4274 - val_loss: 2.3549 - val_accuracy: 0.2358
Epoch 18/75
82/82 [==============================] - 1s 18ms/step - loss: 1.3986 - accuracy: 0.4281 - val_loss: 1.6821 - val_accuracy: 0.2867
Epoch 19/75
82/82 [==============================] - 1s 17ms/step - loss: 1.2642 - accuracy: 0.4828 - val_loss: 2.2154 - val_accuracy: 0.2694
Epoch 20/75
82/82 [==============================] - 1s 17ms/step - loss: 1.3227 - accuracy: 0.4554 - val_loss: 1.8760 - val_accuracy: 0.3087
Epoch 21/75
82/82 [==============================] - 1s 17ms/step - loss: 1.2616 - accuracy: 0.4675 - val_loss: 2.1491 - val_accuracy: 0.2301
Epoch 22/75
82/82 [==============================] - 1s 17ms/step - loss: 1.2560 - accuracy: 0.4775 - val_loss: 2.4631 - val_accuracy: 0.2636
Epoch 23/75
82/82 [==============================] - 1s 18ms/step - loss: 1.2443 - accuracy: 0.5121 - val_loss: 2.8770 - val_accuracy: 0.2081
Epoch 24/75
82/82 [==============================] - 1s 17ms/step - loss: 1.2378 - accuracy: 0.5160 - val_loss: 2.2073 - val_accuracy: 0.2370
Epoch 25/75
82/82 [==============================] - 1s 17ms/step - loss: 1.2093 - accuracy: 0.5161 - val_loss: 2.2736 - val_accuracy: 0.2798
Epoch 26/75
82/82 [==============================] - 1s 17ms/step - loss: 1.1813 - accuracy: 0.5273 - val_loss: 2.0250 - val_accuracy: 0.3075
Epoch 27/75
82/82 [==============================] - 1s 17ms/step - loss: 1.1460 - accuracy: 0.5381 - val_loss: 3.1582 - val_accuracy: 0.1919
Epoch 28/75
82/82 [==============================] - 1s 18ms/step - loss: 1.2132 - accuracy: 0.5222 - val_loss: 1.9489 - val_accuracy: 0.2775
Epoch 29/75
82/82 [==============================] - 1s 17ms/step - loss: 1.0833 - accuracy: 0.5517 - val_loss: 2.6440 - val_accuracy: 0.1988
Epoch 30/75
82/82 [==============================] - 1s 17ms/step - loss: 1.1031 - accuracy: 0.5566 - val_loss: 2.5080 - val_accuracy: 0.2035
Epoch 31/75
82/82 [==============================] - 1s 17ms/step - loss: 1.0700 - accuracy: 0.5788 - val_loss: 2.0488 - val_accuracy: 0.2682
Epoch 32/75
82/82 [==============================] - 1s 18ms/step - loss: 1.0208 - accuracy: 0.6033 - val_loss: 2.0990 - val_accuracy: 0.2913
Epoch 33/75
82/82 [==============================] - 1s 17ms/step - loss: 0.9898 - accuracy: 0.6155 - val_loss: 2.6948 - val_accuracy: 0.2254
Epoch 34/75
82/82 [==============================] - 1s 18ms/step - loss: 0.9802 - accuracy: 0.6190 - val_loss: 2.5014 - val_accuracy: 0.2936
Epoch 35/75
82/82 [==============================] - 1s 17ms/step - loss: 1.0093 - accuracy: 0.6190 - val_loss: 2.3782 - val_accuracy: 0.2890
Epoch 36/75
82/82 [==============================] - 1s 17ms/step - loss: 0.9566 - accuracy: 0.6112 - val_loss: 2.3068 - val_accuracy: 0.2520
Epoch 37/75
82/82 [==============================] - 1s 17ms/step - loss: 0.9064 - accuracy: 0.6584 - val_loss: 2.4197 - val_accuracy: 0.2659
Epoch 38/75
82/82 [==============================] - 1s 18ms/step - loss: 0.9243 - accuracy: 0.6430 - val_loss: 2.1379 - val_accuracy: 0.2636
Epoch 39/75
82/82 [==============================] - 1s 17ms/step - loss: 0.8589 - accuracy: 0.6694 - val_loss: 2.7492 - val_accuracy: 0.2266
Epoch 40/75
82/82 [==============================] - 1s 18ms/step - loss: 0.8723 - accuracy: 0.6664 - val_loss: 2.3301 - val_accuracy: 0.2798
Epoch 41/75
82/82 [==============================] - 1s 17ms/step - loss: 0.8703 - accuracy: 0.6705 - val_loss: 2.2914 - val_accuracy: 0.2751
Epoch 42/75
82/82 [==============================] - 1s 17ms/step - loss: 0.7965 - accuracy: 0.7094 - val_loss: 2.5046 - val_accuracy: 0.2879
Epoch 43/75
82/82 [==============================] - 1s 18ms/step - loss: 0.8284 - accuracy: 0.6863 - val_loss: 3.0917 - val_accuracy: 0.2358
Epoch 44/75
82/82 [==============================] - 1s 17ms/step - loss: 0.8669 - accuracy: 0.6948 - val_loss: 2.7059 - val_accuracy: 0.2740
Epoch 45/75
82/82 [==============================] - 1s 17ms/step - loss: 0.7601 - accuracy: 0.7035 - val_loss: 2.8125 - val_accuracy: 0.2740
Epoch 46/75
82/82 [==============================] - 1s 18ms/step - loss: 0.7471 - accuracy: 0.7234 - val_loss: 3.2335 - val_accuracy: 0.2173
Epoch 47/75
82/82 [==============================] - 1s 18ms/step - loss: 0.8133 - accuracy: 0.6989 - val_loss: 2.5229 - val_accuracy: 0.2786
Epoch 48/75
82/82 [==============================] - 1s 17ms/step - loss: 0.7624 - accuracy: 0.7127 - val_loss: 3.7212 - val_accuracy: 0.2208
Epoch 49/75
82/82 [==============================] - 1s 18ms/step - loss: 0.7755 - accuracy: 0.7166 - val_loss: 3.5671 - val_accuracy: 0.2509
Epoch 50/75
82/82 [==============================] - 1s 18ms/step - loss: 0.7983 - accuracy: 0.7218 - val_loss: 3.2984 - val_accuracy: 0.2763
Epoch 51/75
82/82 [==============================] - 1s 17ms/step - loss: 0.8054 - accuracy: 0.7053 - val_loss: 2.4025 - val_accuracy: 0.3075
Epoch 52/75
82/82 [==============================] - 1s 18ms/step - loss: 0.6478 - accuracy: 0.7597 - val_loss: 3.3608 - val_accuracy: 0.2844
Epoch 53/75
82/82 [==============================] - 1s 17ms/step - loss: 0.6860 - accuracy: 0.7466 - val_loss: 3.6667 - val_accuracy: 0.2566
Epoch 54/75
82/82 [==============================] - 1s 18ms/step - loss: 0.7093 - accuracy: 0.7390 - val_loss: 3.7230 - val_accuracy: 0.2069
Epoch 55/75
82/82 [==============================] - 1s 18ms/step - loss: 0.6580 - accuracy: 0.7543 - val_loss: 2.4648 - val_accuracy: 0.3191
Epoch 56/75
82/82 [==============================] - 1s 17ms/step - loss: 0.5948 - accuracy: 0.7823 - val_loss: 2.7503 - val_accuracy: 0.2705
Epoch 57/75
82/82 [==============================] - 1s 17ms/step - loss: 0.6146 - accuracy: 0.7818 - val_loss: 3.3610 - val_accuracy: 0.2497
Epoch 58/75
82/82 [==============================] - 1s 17ms/step - loss: 0.6240 - accuracy: 0.7785 - val_loss: 2.9717 - val_accuracy: 0.2555
Epoch 59/75
82/82 [==============================] - 1s 18ms/step - loss: 0.6233 - accuracy: 0.7746 - val_loss: 3.2523 - val_accuracy: 0.2925
Epoch 60/75
82/82 [==============================] - 1s 17ms/step - loss: 0.6370 - accuracy: 0.7744 - val_loss: 2.8344 - val_accuracy: 0.3006
Epoch 61/75
82/82 [==============================] - 1s 18ms/step - loss: 0.5503 - accuracy: 0.7936 - val_loss: 2.8831 - val_accuracy: 0.3017
Epoch 62/75
82/82 [==============================] - 1s 18ms/step - loss: 0.6057 - accuracy: 0.7934 - val_loss: 3.3372 - val_accuracy: 0.2694
Epoch 63/75
82/82 [==============================] - 1s 17ms/step - loss: 0.6114 - accuracy: 0.7934 - val_loss: 3.4433 - val_accuracy: 0.2277
Epoch 64/75
82/82 [==============================] - 1s 18ms/step - loss: 0.4956 - accuracy: 0.8202 - val_loss: 4.6828 - val_accuracy: 0.2439
Epoch 65/75
82/82 [==============================] - 1s 18ms/step - loss: 0.6802 - accuracy: 0.7805 - val_loss: 3.5243 - val_accuracy: 0.2509
Epoch 66/75
82/82 [==============================] - 1s 18ms/step - loss: 0.5507 - accuracy: 0.7967 - val_loss: 2.8997 - val_accuracy: 0.3225
Epoch 67/75
82/82 [==============================] - 1s 18ms/step - loss: 0.4785 - accuracy: 0.8238 - val_loss: 3.0885 - val_accuracy: 0.3202
Epoch 68/75
82/82 [==============================] - 1s 18ms/step - loss: 0.4816 - accuracy: 0.8405 - val_loss: 3.9418 - val_accuracy: 0.2671
Epoch 69/75
82/82 [==============================] - 1s 18ms/step - loss: 0.5117 - accuracy: 0.8185 - val_loss: 3.1865 - val_accuracy: 0.3075
Epoch 70/75
82/82 [==============================] - 1s 17ms/step - loss: 0.4996 - accuracy: 0.8079 - val_loss: 2.9188 - val_accuracy: 0.3145
Epoch 71/75
82/82 [==============================] - 1s 18ms/step - loss: 0.4311 - accuracy: 0.8544 - val_loss: 3.1162 - val_accuracy: 0.2844
Epoch 72/75
82/82 [==============================] - 1s 17ms/step - loss: 0.4653 - accuracy: 0.8328 - val_loss: 3.2279 - val_accuracy: 0.3064
Epoch 73/75
82/82 [==============================] - 1s 17ms/step - loss: 0.4049 - accuracy: 0.8619 - val_loss: 3.0648 - val_accuracy: 0.3052
Epoch 74/75
82/82 [==============================] - 1s 17ms/step - loss: 0.4588 - accuracy: 0.8382 - val_loss: 3.9757 - val_accuracy: 0.2462
Epoch 75/75
82/82 [==============================] - 1s 18ms/step - loss: 0.4510 - accuracy: 0.8492 - val_loss: 3.5586 - val_accuracy: 0.3052

In [ ]:
test_loss, test_acc = model.evaluate(x_test, y_test)
print('test_acc:', test_acc)

27/27 [==============================] - 0s 4ms/step - loss: 3.4799 - accuracy: 0.3160
test_acc: 0.3159722089767456

In [ ]:
pred = model.predict(x_test[0:5])
pred

array([[7.35557824e-03, 9.92487192e-01, 1.95319361e-09, 1.57296789e-04,
        2.21961532e-10],
       [1.03031196e-01, 4.75140274e-01, 2.74503410e-01, 8.13016668e-02,
        6.60235286e-02],
       [5.02984412e-02, 9.16827172e-02, 4.04689282e-01, 1.64492026e-01,
        2.88837522e-01],
       [4.48615365e-02, 5.94802462e-02, 8.38501602e-02, 9.77985375e-03,
        8.02028239e-01],
       [5.16461544e-02, 4.45622712e-01, 3.15080583e-01, 1.14313029e-01,
        7.33374208e-02]], dtype=float32)